/*=== 共通 ===*/
.button{
    position: absolute;

    border: none;/* 枠の黒線除去 */
    border-radius: 15px;/* 枠の角を丸く */
    background: linear-gradient(var(--button-color), color-mix(in srgb, var(--button-color) 50%, black));/* グラデーション；立体感 */
    color: white;/* ボタンの文字色 */
    box-shadow: 0 4px 0 color-mix(in srgb, var(--button-color) 30%, black);/* 影；立体感 */


    cursor: pointer;/* ボタンに置いたときのカーソルの形 */
    transition: 0.4s;/* 画面遷移の猶予 */
}
.button:hover{
    background: linear-gradient(color-mix(in srgb, var(--button-color) 90%, black), color-mix(in srgb, var(--button-color) 45%, black));/* ボタンにカーソルを置いたときのボタンの色 */
}
.button:active{
    box-shadow: 0 2px 0 color-mix(in srgb, var(--button-color) 30%, black);/* 影を小さく */
}

.button-area {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);

    display: flex;
    gap: 5px;
}

/*=== タイトル画面 ===*/
#title-button-area{
    bottom: 16%;
}
/* スタートボタン */
#start-solo-button{
    position: static;

    --button-color: rgb(26, 210, 14);
    width: clamp(100px, 30vw, 200px);
    height: 60px;
    
    font-size: clamp(1.1rem, 4vw, 1.7rem);/* ボタンの文字サイズ */
}
#start-solo-button:active{
    transform: scale(0.99) translateY(4px);/* ホバー時のボタンの縮み */
}

#start-multi-button{
    position: static;

    --button-color: rgb(26, 210, 14);
    width: clamp(100px, 30vw, 200px);
    height: 60px;
    
    font-size: clamp(1.1rem, 4vw, 1.7rem);/* ボタンの文字サイズ */
}
#start-multi-button:active{
    transform: scale(0.99) translateY(4px);/* ホバー時のボタンの縮み */
}

/* ルール設定ボタン */
#rule-button{
    --button-color: rgb(14, 40, 210);
    bottom: 2.5%;
    left: 50%;
    width: clamp(100px, 30vw, 200px);
    height: 60px;
    transform: translateX(-50%);/* 自分のサイズ参照で位置調整 */
    
    font-size: clamp(1.1rem, 4vw, 1.7rem);/* ボタンの文字サイズ */
}
#rule-button:active{
    transform: translateX(-50%) scale(0.99) translateY(4px);/* ホバー時のボタンの縮み */
}

/*=== ゲーム画面 ===*/
/* タイトル行きボタン */
#back-to-title-button{
    --button-color: rgb(123, 2, 2);
    top: 0%;
    left: 0%;
    width: clamp(60px, 6vw, 100px);
    height: 30px;
    transform: translate(10%, 30%);/* 自分のサイズ参照で位置調整 */

    color: rgb(224, 231, 9);/* ボタンの文字色 */
    font-size: clamp(0.7rem, 1.2vw, 0.9rem);/* ボタンの文字サイズ */
}
#back-to-title-button:active{
    transform: translate(10%, 30%) scale(0.99) translateY(4px);/* ホバー時のボタンの縮み */
}

/* ゲームボタンエリア */
#game-button-area{
    bottom: 4%;
}
/* パスボタン */
#play-button{
    position: static;

    --button-color: rgb(123, 2, 2);
    width: clamp(45px, 6vw, 55px);
    height: 40px;

    color: rgb(224, 231, 9);/* ボタンの文字色 */
    font-size: clamp(0.7rem, 1.4vw, 0.8rem);/* ボタンの文字サイズ */
}
#play-button:active{
    transform: scale(0.99) translateY(4px);/* ホバー時のボタンの縮み */
}
/* カード出すボタン */
#pass-button{
    position: static;

    --button-color: rgb(123, 2, 2);
    width: clamp(45px, 6vw, 55px);
    height: 40px;

    color: rgb(224, 231, 9);/* ボタンの文字色 */
    font-size: clamp(0.7rem, 1.4vw, 0.8rem);/* ボタンの文字サイズ */
}
#pass-button:active{
    transform: scale(0.99) translateY(4px);/* ホバー時のボタンの縮み */
}

/*=== ルール設定画面 ===*/
/* タイトル行きボタン */
#apply-button{
    --button-color: rgb(14, 40, 210);
    bottom: 2.5%;
    left: 50%;
    width: clamp(100px, 30vw, 200px);
    height: 60px;
    transform: translateX(-50%);/* 自分のサイズ参照で位置調整 */

    font-size: clamp(1.1rem, 4vw, 1.7rem);/* ボタンの文字サイズ */
}
#apply-button:active{
    transform: translateX(-50%) scale(0.99) translateY(4px);/* ホバー時のボタンの縮み */
}