/* player.css */
.player-box {
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;

    padding: 5px;
    aspect-ratio: 10 / 7;

    background: rgba(0,0,0,0.8);
    color:white;

    border-radius:10px;

    border: 2px solid #888;
    border-radius: 12px;
}
.player-box.current-turn {
    border-color: rgb(218,185,2);

    box-shadow:
        0 0 5px rgba(255,215,0,0.7),
        inset 0 2px 4px rgba(0,0,0,0.15);
}

.player-name{
    font-size: clamp(7.5px, 1.5vw, 15px);
}

.card-count{
    font-size: clamp(7.5px, 1.5vw, 15px);
}